
.cart-container {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 100px;
  }
  

  .cart-summary {
    width: 280px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .cart-item-link {
    display: block;
    margin-right: 20px;
  }
  
  .cart-item-img {
    width: 180px;
    height: auto;
    object-fit: contain;
  }
  
  .cart-item-info {
    flex-grow: 1;
  }
  
  
  .cart-item-title {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #007185;
    text-decoration: none;
  }
  
  .cart-item-title:hover {
    text-decoration: underline;
  }
  
  .cart-item-price {
    font-size: 18px;
    color: #B12704;
    margin-bottom: 10px;
  }

  input[type="number"] {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .cart-item-quantity,
  .cart-item-subtotal {
    margin-bottom: 5px;
  }
  
  .cart-subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .checkout-btn {
    background-color: #FFD814;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    color: black;
  }
  
  .checkout-btn:hover {
    background-color: #F7CA00;
  }
  
  
  .cart-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cart-items {
    flex-grow: 1;
    margin-right: 20px;
  }

  .cart-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .cart-content {
    display: flex;
    justify-content: space-between;
  }

  body {
    background-color: #f5f5dc; 
    margin: 0;
    padding: 0;
  }

  .cart-item-quantity-input{
    width: 50px;
  }

  .remove-item-btn {
    padding: 0;
    background-color: transparent;
    color: #007185;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline;
    margin-left: 8px;
  }
  
  .remove-item-btn:hover {
    color: #c45500;
    text-decoration: underline;
  }
