.product-detail-page {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-left: 250px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;

}

.product-main-content {
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
}


.product-image img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-rating .star {
    color: gold;
}

.review {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    width: 750px;
}

.review-title {
    font-weight: bold;
}

.review-body {
    margin-top: 5px;
}

.product-purchase-options{
    margin-bottom: 20px;
}

.product-purchase-options .add-to-basket-btn,
.product-purchase-options .buy-now-btn {

  background-color: #ffca28;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  color : black;
  border-radius: 8px;
}

.product-purchase-options .add-to-basket-btn:hover,
.product-purchase-options .buy-now-btn:hover {
  background-color: #ffc107;
}


.product-price{
    font-size: 30px;
    font-family: sans-serif;
}

.product-quantity{
    font-size: 18px;
}

.product-reviews{
    flex: 0 0 20%;
}