.list-products-container {
    padding: 20px;
    margin-top: 20px;
}

.list-products-container .text-center {
    margin-bottom: 40px;
}

.list-products-container .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -50px;
    padding: 0 15px;
}

.list-products-container .product-grid-item {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0 15px; 
}


@media (max-width: 1024px) {
    .list-products-container .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .list-products-container .product-grid {
        grid-template-columns: 1fr; 
    }
}
