.forbidden-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.forbidden-title {
    font-size: 3em;
    color: #ff4c4c;
    margin-bottom: 20px;
}

.forbidden-message {
    font-size: 1.5em;
    color: #333;
}
