.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #131921;
  }
  
  .brand {
    display: flex;
    align-items: center;
    padding-right: 100px;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5em 0.25em;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .search-bar {
    display: flex;
    flex: 1;
    max-width: 50%; 
    border-radius: 4px;
    overflow: hidden;

  }
  
  .search-input {
    width: 100%;
    border: none;
    padding: 0.5em;
    font-size: 1em;
  }
  
  .search-button {
    background-color: #febd69;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #f3a847;
  }
  
  .nav-cart {
    margin-left: auto; 
    text-decoration: none;
  }
  
  .nav-cart a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .nav-cart a,
  .nav-cart a:hover,
  .nav-cart a:visited {
  text-decoration: none;
}

.nav-cart a:active,
.nav-cart a:focus {
  outline: none;
  text-decoration: none;
}


.top-nav .dropdown-container {
  position: relative;
  display: inline-block;
}

.top-nav .dropdown-button {
  background-color: #333; 
  color: white;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.top-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1;
}

.top-nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top-nav .dropdown-container:hover .dropdown-content {
  display: block;
}

.top-nav .dropdown-content a:hover {
  background-color: #ddd;
}

.top-nav .dropdown-content link:hover {
  background-color: black;
}

  